*{
    box-sizing: border-box;
    font-family: 'Roboto';
}

body{
    margin: 0
}

.section{

}

.book-list{
    display: flex;
    list-style: none;
}

.book-title{
    font-size: 0.7rem;
}

.book-image{
    margin: 10px;
    border-radius: 0px 15px 15px 0px;
}

header{
    display: flex;
    justify-content: space-between;
    background-color: #EFFAFF;
}

.icon{
    font-size: 30px;
    margin: 5%
}