* {
    box-sizing: border-box;
    font-family: 'Roboto';
    margin: 0;
    padding: 0;
}

body{
    background-color: #F9F9F9;
}

.section{
    margin-top: 20px;
    padding-top: 20px;
}
.section h1{
    padding-left: 20px;
    font-size: 1.3rem;
}

.book-list{
    display: flex;
    list-style: none;
    padding: 0;
    margin-top: 20px;
    
}
ul{
    margin: 0;
    width: 100%;;
    padding: 0;
}
.overflow{
    width: 100%;
    overflow: auto;
}
.overflow li{
    margin: 0 5px;
}
.flex-wrap li{
    display: flex;
    max-width: 150px;
    width: 30vw;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
}

.book-title{
    font-size: 0.7rem;
    width: 80%;
    text-align: center;
    margin: 10px 0;
}


.book-image{
    margin: 0px;
    border-radius: 0px 15px 15px 0px;
    
}
.flex-wrap .book-image{
    width: 90%;
}

header{
    display: flex;
    justify-content: space-between;
    background-color: #EFFAFF;
    height: 60px;
    align-items: center;
    font-size: 0.8rem;
    border-bottom: 10px solid #EFFAFF;
}
.logo{
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100px;
    height: 80%;
    margin-left: 20px;
    color: #525252;
}
header.center h2{
    width: 100%;
    text-align: center;
}

.icon{
    font-size: 25px;
    margin: 2%;
}

.icon a:visited{
    text-decoration: none;
    text-transform: none;
    color: #000;
}

.invisible{
    display: none;
}
.search-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 10px solid #F2F2F2;
}

.search-bar input{
    background-color: #F9F9F9;
    width: 95%;
    height: 100%;
    font-size: 1rem;
    border: none;
    padding-left: 20px;
    
}
.search-bar form{
    width: 80%;
    height: 50px;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex-wrap{
    flex-wrap: wrap;
}

.destaque{
    background-color: #47B7ED;
    color: #fff;
}